<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="user_image">
      　<% if @user.image_name? %>
          <%= image_tag @user.image_name %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </h1>
      <h3><%= @user.name %></h3>
      <h5><%= @user.email %></h5>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="user_complete">
      <p>クリア数：<%= @user.words.count{|i| i.complete? === true}  %>/<%= @user.words.count %></p>
      <% if @user.words.count > 0 %>
        <p>達成率：<%= @user.words.count{|i| i.complete? === true} * 100 / @user.words.count %>%</p>
      <% else %>
        <p>達成率：0%</p>
      <% end %>
    </div>
  </div>
</div>