<tr>
  <td><%= answer.english %></td>
  <td><%= answer.japanese %></td>
  <td>
    <%= form_for(answer) do |f| %>
      <div class="d-flex flex-row pull-left">
        <%= f.check_box :complete, {}, checked_value = "true", unchecked_value = "false" %>
        <%= f.submit "保存", class: "btn btn-primary btn-xs" %>
      </div>
    <% end %>
  </td>
</tr>